*.rpm
*.iso
.vagrant/
.vscode/
/boot/
/etc/
.pytest_cache
output-alma8/
packer_cache/
report.html
/CHECKSUM
/RPM-GPG-KEY-AlmaLinux
ansible/roles/rhel8cis
ansible/roles/base_line/
ansible/roles/openssh/
