# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
{% if ntp_pools|length > 0 %}
{% for pool in ntp_pools %}
pool {{ pool }} iburst
{% endfor %}
{% endif %}

# List of NTP servers to use
# NTP servers, use 3 minimally
{% if ntp_servers|length > 0 %}
{% for server in ntp_servers %}
server {{ server }} iburst maxpoll 10
{% endfor %}
{% endif %}

# List of NTP peers to use
{% if ntp_peers|length > 0 %}
{% for peer in ntp_peers %}
peer {{ peer }} key {{ nettime_keyid|default('123') }}
{% endfor %}
{% endif %}

# Record the rate at which the system clock gains/losses time.
driftfile {{ nettime_driftfile }}

# Allow the system clock to be stepped
# if its offset is larger than 1 second.
makestep 1 -1

# Keep UTC date and time for RTC
rtconutc

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

# Leap second
leapsectz right/UTC

# Listen for commands only on localhost
{% if net_allow is defined and net_allow|length > 0 %}
bindcmdaddress 127.0.0.1
bindcmdaddress ::1
{% else %}
cmdport 0
{% endif %}
# Enable hardware timestamping on all interfaces that support it.
#hwtimestamp *

# Increase the minimum number of selectable sources required to adjust
# the system clock.
#minsources 2

# Allow NTP client access from these networks.
{% if net_allow is defined and net_allow|length > 0 %}
port 123
{% for cidr in net_allow %}
allow {{ cidr }}
{% endfor %}
{% else %}
port 0
{% endif %}

# Deny NTP requests from these networks
{% if net_deny is defined and net_deny|length > 0 %}
{% for cidr in net_deny %}
deny  {{ cidr }}
{% endfor %}
{% endif %}

# Serve time even if not synchronized to a time source.
local stratum 10

# Specify file containing keys for NTP authentication.
keyfile {{ nettime_keyfile }}

# Specify directory for log files.
logdir /var/log/chrony

# Select which information is logged.
log measurements statistics tracking
